@import url("https://fonts.googleapis.com/css2?family=Metal+Mania&display=swap");
$screen-mobile: 375px;
$screen-desktop: 1440px;

@mixin mobile {
  @media (min-width: #{$screen-mobile}) {
    @content;
  }
}
@mixin desktop {
  @media (min-width: #{$screen-desktop}) {
    @content;
  }
}
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(0.24turn, #333, #ebf8e1, #333);
}
.tete {
  display: flex;
  flex-direction: column;
  align-self: center;
  width: 375px;
  @include desktop() {
    margin-bottom: 50px;
    width: max-content;
    text-align: center;
  }
}
h1 {
  text-align: center;
  width: 375px;
  align-self: center;
}
#explicatif {
  width: 375px;
  text-align: center;
  align-self: center;
}

#collection {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  @include desktop() {
    // display: grid;
    // grid-template-columns: 33% 33% 33%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
}
.bandDiv {
  border: 2px solid black;
  margin: 5px;
  width: 375px;
  height: 630px;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  background: linear-gradient(0.9turn, #e66465, #9198e5);
  @include desktop() {
    margin: 30px;
    transition: 1s;
    &:hover {
      transform: scale(1.2);
    }
  }
}
.divtext {
  width: 375px;
  display: flex;
  flex-direction: column;
  &:hover {
    opacity: 0;
  }
  transition: 1s;
}

.bandName {
  align-self: center;
  font-family: "Metal Mania", cursive;
  font-size: 30px;
  margin: 0;
}
.singer {
  align-self: center;
  font-family: "Courier New", Courier, monospace;
  font-weight: 600;
}
.year {
  align-self: center;
  font-family: "Courier New", Courier, monospace;
  font-weight: 600;
}
.genreList {
  padding-left: 15px;
}
.castList {
  padding-left: 150px;
}
.membres {
  position: relative;
  top: 38px;
  padding-left: 45px;
  margin: 0;
  font-family: "Metal Mania", cursive;
}
ul > {
  li {
    display: inline-block;
    border: 1px solid black;
    margin: 2px;
    padding: 5px;
    background-color: blue;
    border-radius: 20px;
    width: 100px;
    text-align: center;
  }
  li:hover {
    background-color: red;
  }
}
.rock {
  width: 375px;
  height: 250px;
  border-radius: 200px;
}

ol > {
  li {
    display: flex;
  }
}

.croix {
  position: absolute;
  width: 20px;
  height: 20px;
  background: none;
  background-image: url(/Assets/cross.webp);
  background-size: cover;
  background-position: center;
  border: 0;
}

.picture {
  width: 375px;
  height: 250px;
  border-radius: 8px;
}

.croix:hover {
  background-color: black;
  border-radius: 100%;
}

// .youtube {
//   width: 100px;
//   position: absolute;
//   align-self: center;
//   padding-top: 150px;
//   opacity: 0;
//   transition: 3s;
//   &:hover {
//     opacity: 100%;
//   }
// }
